fastapi[standard]
neo4j
python-dotenv 
pydantic
pandas==2.2.3 
#psycopg2-binary 
dotenv 
requests 
tqdm
uvicorn #?
langgraph
streamlit #?
langchain-openai 
langchain-community 
langchain-neo4j 
langchain-chroma 
psycopg 
psycopg-pool 
langgraph-checkpoint-postgres
python-jose[cryptography]
bcrypt>=4.0.1,<6.0.0
python-multipart
pyvis 
# pandashttpx
